.footer {
	margin-top: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 85px;
	position: relative;

	&__contacts {
		padding-right: 230px;
		letter-spacing: 0.04em;
		color: $colorWhite;
		display: flex;
		flex-direction: column;
		.contacts {
			&__title {
				font-weight: 800;
				font-size: 30px;
				line-height: 41px;
				margin-bottom: 50px;
			}

			&__number {
				font-weight: 700;
				font-size: 18px;
				line-height: 25px;
				text-align: left;
				letter-spacing: 0.08em;
				text-transform: uppercase;
				margin-bottom: 30px;
			}

			&__mail {
				font-weight: 700;
				font-size: 18px;
				line-height: 25px;
				text-align: left;
				letter-spacing: 0.08em;
				text-transform: uppercase;
				color: $colorWhite;
				margin-bottom: 30px;
			}

			&__info {
				.info {
					&__title {
						font-weight: 700;
						font-size: 18px;
						line-height: 25px;
						letter-spacing: 0.08em;
						text-transform: uppercase;
					}

					&__list {
						line-height: normal;
						margin-bottom: 50px;
						gap: 10px;
					}

					&__item {
						position: relative;
						padding-left: 26px;
						font-weight: 400;
						font-size: 14px;
						text-transform: uppercase;
					}

					&__item::before {
						content: '';
						width: 16px;
						height: 18px;
						position: absolute;
						left: 0;
						top: 50%;
						background: no-repeat url('../imgs/location.svg') center/contain;
						transform: translate(0,-50%);
					}
				}
			}

			&__icons {
				.icons {
					&__list {
						display: flex;
						justify-content: space-between;
					}
				}
			}
		}
	}

	&__form {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 60px 40px;
		gap: 20px;
		background: $colorWhite;
		box-shadow: 0px 8px 24px #86536514;
		border-radius: 40px;

		.form {
			&__title {
				text-align: center;
				font-weight: 800;
				font-size: 30px;
				line-height: 41px;
				text-align: center;
				letter-spacing: 0.04em;
			}

			&__info {

				.info {

					&__text {
						font-weight: 300;
						font-size: 14px;
						line-height: 24px;
						letter-spacing: 0.04em;
						color: $colorPrimary;
					}

					&__agree-conditions {
						color: red;
					}
				}
			}

			&__inputs {
				max-width: 530px;
			}
		}
	}
}

.scroll-up {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 15px;
	gap: 20px;
	background: rgba(255, 255, 255, 0.6);
	border: 1px solid #FFFFFF;
	backdrop-filter: blur(24px);
	border-radius: 40px;
	width: 70px;
	height: 70px;
	position: absolute;
	left: 0;
	bottom: 0;
	cursor: pointer;

	&-arrow {
		width: 18px;
		color: linear-gradient(139.9deg, #D61544 2.48%, #F07E3D 100%);
		transform: rotate(180deg);
	}
}


@media screen and (max-width: $mobileBreakPoint) {
	.footer {
		flex-direction: column;
		justify-content: center;
		&__contacts {
			padding-right: 0;
			.contacts {
				&__icons {
					.icons {
						&__list {
							transform: translate(0,800);
						}
					}
				}
				&__info {
					.info {
						&__list {
							margin-bottom: 0px;
						}
					}
				}
			}
		}
		.form {
			&__title {
				font-size: 26px;
				line-height: 32px;
			}
			margin-bottom: 200px;
		}
	}
	.scroll-up {
		bottom: 100;
		left: 50%;
		transform: translate(-50%);
	}
}
