.form {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	background: $colorWhite;
	border-radius: 40px;

	.form {
		&__title {
			text-align: center;
			font-weight: 800;
			font-size: 30px;
			line-height: 41px;
			text-align: center;
			letter-spacing: 0.04em;
		}

		&__info {
			display: flex;
			gap: 10px;
			align-items: center;
			justify-content: flex-start;
			width: 100%;
			padding-left: 20px;

			.info {
				&__text {
					font-weight: 300;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: 0.04em;
					color: $colorPrimary;
				}
				&__agree-conditions {
					color: red;
				}
			}
		}

		&__inputs {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			max-width: 530px;
		}
	}
}

@media screen and (max-width: $mobileBreakPoint) {
	.form {
		.form {
			&__info {
			display: flex;
			gap: 10px;
			align-items: center;
			justify-content: flex-start;
			width: 100%;
			padding-left: 20px;

			.info {
				&__text {
					max-width: 250px;
				}
			}
		}
		}
	}
}
