.header {
	display: flex;
	justify-content: center;
	width: calc(100vw + 100%);

	.header-wrap {
		width: 100%;
		color: $colorWhite;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1440px;
		padding: 0 40px;
		box-sizing: border-box;
	}

	.nav {
		&__list {
			display: flex;
			gap: 60px;
			font-weight: 100;
			padding: 30px 0;
		}

		&__item {
			cursor: pointer;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			a {
				color: #DCDCE6;
			}
		}
	}

	.faq {
		&__list {
			gap: 30px;
			display: flex;
		}

		&__question {
			font-weight: 700;
			cursor: pointer;
			border: none;
			background-color: inherit;
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 25px;
			text-align: right;
			letter-spacing: 0.08em;
			text-transform: uppercase;
			color: $colorWhite;
		}

		&__lang {
			color: $colorRed;
			font-weight: 500;
			cursor: pointer;
			border: none;
			background-color: inherit;
			font-weight: 500;
			font-size: 13px;
			line-height: 18px;
			letter-spacing: 0.08em;
			text-transform: uppercase;
		}
	}
}

.sticky {
	position: fixed;
	top: 0;
	background: linear-gradient(63.15deg, rgba(30, 22, 39, 0.4) 12.38%, rgba(32,30, 56, 0.4) 87.48%);
	padding: 0;
	backdrop-filter: blur(20px);
	z-index: 3;
}
