.services {
	padding-bottom: 90px;
	overflow: hidden;

	&__headline {
		margin-top: 80px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: 60px;
		.headline {

			&__title {
				color: $colorPrimary;
				margin-bottom: 20px;
				font-weight: 700;
				font-size: 40px;
				line-height: 56px;
			}

			&__text {
				font-family: 'Manrope';
				font-weight: 300;
				font-size: 16px;
				line-height: 28px;
				text-align: center;
				letter-spacing: 0.04em;
				color: $colorPrimary;
			}
		}
	}

	.medium-cards {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__box {
			margin-bottom: 90px;
			display: flex;
			gap: 40px;
		}

		&__img {
			background-color: #D6154426;
		}
	}

	.large-cards {
		&__concat-title-box {
			display: flex;
			justify-content: center;
			gap: 20%;
		}

		.startup {
			&__img {
				background-color: #EF804326;
			}
		}

		.business {
			&__img {
				background: $colorBgRed;
				opacity: 0.8;
			}
		}

		&__box {
			display: flex;
			gap: 20%;
			margin-left: 19%;
			margin-bottom: 60px;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		flex-direction: column;

		.info {
			&__text {
				font-weight: 300;
				font-size: 16px;
				line-height: 28px;
				text-align: center;
				letter-spacing: 0.04em;
				color: $colorPrimary;
				margin-bottom: 20px;
			}
		}
	}
}
