.slider-box {
	margin-top: 100px;
	margin-bottom: 60px;

	&__headline {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		font-weight: 700;
		font-size: 40px;
		line-height: 56px;
		letter-spacing: 0.04em;
		color: $colorPrimary;
		margin-left: 60px;
	}

	&__btn{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}

	&__counter {
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 18px;
		text-align: center;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		color: #201E38;
	}

	&__arrow {
		transform: rotate(-90deg);
		cursor: pointer;
	}

	&__dots {
		display: flex;
		justify-content: center;
		padding: 20px 0;
		gap: 20px;

		.owl-dot {
			width: 14px;
			height: 14px;
			background: #D9D9D9;
			border: none;
			border-radius: 100%;
		}
	}

	.case-carousel {
		display: flex;
	}
}

@media screen and (max-width: $desktopBreakPoint) {
	.slider-box {
		.owl-item{
			overflow: hidden;
			&:nth-child(1) {
				.slide-card__slide-img {
					position: absolute;
					bottom: 0;
					right: 0;
					img {
						width: 60vw !important;
					}
				}
			}
			&:nth-child(2) {
				.slide-card__slide-img {
					position: absolute;
					right: -12%;
					bottom: 50%;
					transform: translate(0,50%);
					img {
						width: 60vw !important;
					}
				}
			}
			&:nth-child(3) {
				.slide-card__slide-img {
					position: absolute;
					bottom: 0;
					right: -12%;
					img {
						width: 60vw !important;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobileBreakPoint) {
	.slider-box {
		padding-top: 10px;
		margin-top: 0px;
		.owl-item{
			overflow: hidden;
			&:nth-child(1) {
				.slide-card__slide-img {
					position: absolute;
					bottom: 0;
					right: 0;
					img {
						width: 100vw !important;
					}
				}
			}
			&:nth-child(2) {
				.slide-card__slide-img {
					position: absolute;
					bottom: 20%;
					left: 0;
					img {
						width: 120vw !important;
					}
				}
			}
			&:nth-child(3) {
				.slide-card__slide-img {
					position: absolute;
					bottom: 0;
					left: -5vw;
					img {
						width: 125vw !important;
					}
				}
			}
		}

		&__headline {
			max-width: calc(100vw - 10%);
		}
		&__title {
			margin-left: 16px;
		}
	}
}
