.slide-card {
	width: 100%;
	max-width: 1300px;
	height: 558px;
	background: #F2F2F9;
	position: relative;
	border-radius: 30px;
	margin-top: 45px;

	.badges {
		display: flex;
		align-items: center;
		padding: 8px 16px;
		gap: 10px;
		background: #ef804333;
		box-shadow: 0px 8px 24px #86536514;
		border-radius: 21px;
	}



	&__slide-img {
		position: absolute;
		bottom: -5;
		right: 0;
	}

	&__right-side {
		padding: 60px 0 60px 60px;
		display: flex;
		gap: 40px;
		flex-direction: column;
		align-items: flex-start;

		.right-side {

			&__title {
				max-width: 460px;
				font-weight: 800;
				font-size: 30px;
				line-height: 41px;
				letter-spacing: 0.04em;
				color: $colorPrimary;
			}

			&__badges {
				display: flex;
				gap: 10px;
				flex-wrap: wrap;
				max-width: 400px;
			}

			&__logo {
				margin-left: -12px;
			}
		}


	}
}

.owl-carousel .owl-item img {
	width: initial !important;
}

@media screen and (max-width: $mobileBreakPoint) {
	.slide-card {
		max-width: 100%;
		border-radius: 0px;
		height: 908px;
		overflow: hidden;

		&__right-side {
			padding: 10px 0 10px 10px;

			.right-side {

				&__title {
					max-width: 340px;
					font-size: 26px;
					line-height: 35px;
				}

				&__badges {
					max-width: 340px;
				}

				&__btn {
					margin: 0 auto;
				}
			}


		}
	}
}

