<div class="footer">
	<div class="footer__contacts contacts">
		<h2 class="contacts__title">Зв'яжіться з нами</h2>
		<p class="contacts__number">+351 912 572 503</p>
		<a class="contacts__mail" href="mailto:mail@alterego.digital">MAIL@ALTEREGO.DIGITAL</a>
		<div class="contacts__info">
			<h3 class="info__title">Офіси</h3>
			<ul class="info__list">
				<li class="info__item">Україна, м. Чернівці</li>
				<li class="info__item">Португалія, Лісабон</li>
			</ul>
		</div>
		<div class="contacts__icons">
			<ul class="icons__list">
				<li>
					<a href="#">
						<img src="./imgs/tg-logo.svg" alt="telegram link">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="./imgs/fb-logo.svg" alt="telegram link">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="./imgs/inst-logo.svg" alt="telegram link">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="./imgs/tw-logo.svg" alt="telegram link">
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="footer-form" class="footer__form form">
		<h2 class="form__title">Отримайте<br>безкоштовну консультацію</h2>
		<div class="form__inputs">
			<input id="name" class="input" type="text" placeholder="Ім’я">
			<input id="number" class="input" type="text" placeholder="Номер телефону">
			<input id="email" class="input" type="text" placeholder="E-mail">
		</div>
		<div class="form__info">
			<input class="checkbox" type="checkbox" />
			<p class="info__text">Реєструючись, я повністю погоджуюся з умовами угоди<br> користувача</p>
		</div>
		<button class="btn modal-submit">
			Відправити
			<img src="./imgs/send.svg" alt="send button">
		</button>
	</div>
	<div id="footer-scroll-up" class="scroll-up">
		<img class="scroll-up-arrow" src="./imgs/scroll-arrow.svg" alt="scroll top">
	</div>
</div>
