<div id="footer" class="footer">
	<div class="footer__contacts contacts">
		<h2 class="contacts__title">Зв'яжіться з нами</h2>
		<p class="contacts__number">+351 912 572 503</p>
		<a class="contacts__mail" href="mailto:mail@alterego.digital">MAIL@ALTEREGO.DIGITAL</a>
		<div class="contacts__info">
			<h3 class="info__title">Офіси</h3>
			<ul class="info__list">
				<li class="info__item">Україна, м. Чернівці</li>
				<li class="info__item">Португалія, Лісабон</li>
			</ul>
		</div>
		<div class="contacts__icons">
			<ul class="icons__list">
				<li>
					<a href="https://t.me/AlterEGOdigital" target="blank">
						<img src="./imgs/tg-logo.svg" alt="telegram link">
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/alterego.digital/" target="blank">
						<img src="./imgs/fb-logo.svg" alt="facebook link">
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/alterego.digital/" target="blank">
						<img src="./imgs/inst-logo.svg" alt="instargam link">
					</a>
				</li>
				<li>
					<a href="https://twitter.com/alteregostudio" target="blank">
						<img src="./imgs/tw-logo.svg" alt="twitter link">
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="footer-form" class="footer__form form">
		<h2 class="form__title">Отримайте<br>безкоштовну консультацію</h2>
		<div class="form__inputs">
			<div class="form-row">
				<span class="form-label">Ім’я</span>
				<input id="name" class="input" type="text">
				<span class="form-error hide">обовʼязкове поле</span>
			</div>
			<div class="form-row">
				<span class="form-label">Номер телефону</span>
				<input id="number" class="input" type="text" placeholder="Номер телефону">
				<span class="form-error hide">неправильный формат номеру телефону</span>
			</div>
			<div class="form-row">
				<span class="form-label">Email</span>
				<input id="email" class="input" type="text" placeholder="name@example.com">
				<span class="form-error hide">неправильный формат email</span>
			</div>
		</div>
		<div class="form-row">
			<div class="form__info">
				<input id="agreeCheckbox" class="checkbox" type="checkbox" />
				<p class="info__text">Я повністю погоджуюся
					<a class="info__agree-conditions" href="#">з умовами користувача</a>
				</p>
			</div>
			<span class="form-error hide">обовʼязкове поле</span>
		</div>
		<button class="btn modal-submit">
			Відправити
			<img src="./imgs/send.svg" alt="send button">
		</button>
	</div>
	<div id="footer-scroll-up" class="scroll-up">
		<img class="scroll-up-arrow" src="./imgs/scroll-arrow.svg" alt="scroll top">
	</div>
</div>
