<form action="/somewhere_else">
	<div class="form">
		<div class="form__inputs">
			<input id="name" class="input" type="text" placeholder="Ім’я">
			<input id="number" class="input" type="text" placeholder="Номер телефону">
			<input id="email" class="input" type="text" placeholder="E-mail">
			<textarea name="main-text" placeholder="Ваш запит" class="input area-field" id="main-text" cols="0" rows="2"></textarea>
		</div>
		<div class="form__info">
			<input id="modal-checkbox" class="checkbox" type="checkbox">
			<p class="info__text">Реєструючись, я повністю погоджуюся <a class="info__agree-conditions" href="#">з умовами угоди<br>
					користувача</a></p>
		</div>
		<button class="modal-submit form__btn btn" type="submit">
			Відправити
			<img src="./imgs/send.svg" alt="send button">
		</button>
	</div>
</form>
