<form action="/somewhere_else">
	<div class="form">
		<div class="form__inputs">
			<input id="name" class="input" type="text" placeholder="Ім’я">
			<input id="number" class="input" type="text" placeholder="Номер телефону">
			<input id="email" class="input" type="text" placeholder="E-mail">
			<input id="text" class="input" type="text" placeholder="Ваш запит">
			<input id="additional-text" class="input" type="text">
		</div>
		<div class="form__info">
			<input id="modal-checkbox" class="checkbox" type="checkbox">
			<p class="info__text">Реєструючись, я повністю погоджуюся з умовами угоди<br> користувача</p>
		</div>
		<button class="modal-submit form__btn btn" type="submit">
			Відправити
			<img src="./imgs/send.svg" alt="send button">
		</button>
	</div>
</form>
