<form action="/somewhere_else">
	<div class="form">
		<div class="form__inputs">
			<div class="form-row">
				<span class="form-label">Ім’я</span>
				<input id="name" class="input" type="text">
			</div>
			<div class="form-row">
				<span class="form-label">Номер телефону</span>
				<input id="number" class="input" type="text">
			</div>
			<div class="form-row">
				<span class="form-label">Email</span>
				<input id="email" class="input" type="text" placeholder="name@example.com">
			</div>
			<div class="form-row">
				<span class="form-label">Ваш запит</span>
				<textarea name="main-text" placeholder="Опишіть питання з яким ви хочете до нас звернутись..."
					class="input area-field" id="main-text" cols="0" rows="4"></textarea>
			</div>
		</div>
		<div class="form__info">
			<input id="modal-checkbox" class="checkbox" type="checkbox">
			<p class="info__text">Я повністю погоджуюся <a class="info__agree-conditions" href="#">з умовами користувача</a></p>
		</div>
		<button class="modal-submit form__btn btn" type="submit">
			Відправити
			<img src="./imgs/send.svg" alt="send button">
		</button>
	</div>
</form>
