<header id="header" class="header">
	<div class="header-wrap">
		<div class="header__burger-btn">
			<img id="{{ btnSelector }}" src="{{ btnImg }}" alt="logo">
		</div>
		<div class="header__logo">
			<img src="imgs/logo.svg" alt="logo">
		</div>
		<nav class="header__nav nav">
			<ul id="nav" class="nav__list">
				<li class="nav__item"><a href="#" class="services">Послуги</a></li>
				<li class="nav__item"><a href="#" class="about">Про нас</a></li>
				<li class="nav__item"><a href="#" class="case">Кейси</a></li>
			</ul>
		</nav>
		<div class="header__faq faq">
			<div class="faq__list">
				<button data-btn="ask-to-us" id="header-question" class="faq__question">Задайте питання</button>
				<div class="lang-switcher">
					<button class="faq__lang sw-active">UA</button>
					<button class="faq__lang sw-secondary">EN</button>
				</div>
			</div>
		</div>
	</div>
</header>
