<section class="info">
	<div class="info__main">
		<h1 class="info__title">Ваш зовнішній відділ розробки</h1>
		<ul class="info__list">
			<li classs="info__item">Створення та підтримка сайтів</li>
			<li classs="info__item">Інтеграції API та Webhook</li>
			<li classs="info__item">Впровадження та навчання CRM</li>
			<li classs="info__item">Кастомна веб-розробка та створення продуктів</li>
		</ul>
		<button data-btn="write-to-us" id="discuss" class="btn info__btn">
			Обговорити ваш проект
			<img src="./imgs/arrow.svg" alt="arrow">
		</button>
	</div>
	<div class="info__scroll-arrow scroll-arrow">
		<img id="scroll-arrow-info" src="./imgs/scroll-arrow.svg" alt="scroll arrow">
	</div>
	<button data-btn="write-to-us" id="question" class="question">
		<img src="./imgs/chat-ico.svg" alt="ask question">
	</button>
</section>
