<div id="{{ id }}" class="{{ class }} modal-root close">
	<div class="{{ id }}-modal">
		<include src="components/header.html">
			{
			"btnSelector": "burger-btn-close",
			"btnImg": "imgs/burger-menu-close.svg"
			}
		</include>
		<nav class="header__nav nav">
			<ul id="nav" class="nav__list">
				<li class="nav__item"><a href="#" class="services">Послуги</a></li>
				<li class="nav__item"><a href="#" class="about">Про нас</a></li>
				<li class="nav__item"><a href="#" class="case">Кейси</a></li>
			</ul>
		</nav>
		<div class="menu contacts__icons">
			<ul class="icons__list">
				<li>
					<a href="#">
						<img src="./imgs/tg-logo.svg" alt="telegram link">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="./imgs/fb-logo.svg" alt="telegram link">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="./imgs/inst-logo.svg" alt="telegram link">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="./imgs/tw-logo.svg" alt="telegram link">
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
