<div class="projects">
	<div class="date-wrap-box">
		<div class="projects__date">
			<div class="projects__circleBg"></div>
			<include src="components/date-card.html">
				{
				"date": "14",
				"text": "років на ринку"
				}
			</include>
			<include src="components/date-card.html">
				{
				"date": "40+",
				"text": "співробітників"
				}
			</include>
			<include src="components/date-card.html">
				{
				"date": "500+",
				"text": "проектів"
				}
			</include>
		</div>
		<h3 class="projects__title">Нам довіряють</h3>
	</div>
	<div class="card-wrap-box">
		<div class="projects__cards">
			<div class="projects-cards owl-carousel owl-theme">
				<include src="components/project-card.html">
					{
					"url": "./imgs/tiyo-logo.svg"
					}
				</include>
				<include src="components/project-card.html">
					{
					"url": "./imgs/artwinery-logo.svg"
					}
				</include>
				<include src="components/project-card.html">
					{
					"url": "./imgs/glovo-logo.svg"
					}
				</include>
				<include src="components/project-card.html">
					{
					"url": "./imgs/zoho-logo.svg"
					}
				</include>
				<include src="components/project-card.html">
					{
					"url": "./imgs/pipedrive-logo.svg"
					}
				</include>
				<include src="components/project-card.html">
					{
					"url": "./imgs/tuqqi-logo.svg"
					}
				</include>
			</div>
		</div>
	</div>
</div>
