<div class="services">
	<div class="services__headline headline">
		<h1 class="headline__title">Послуги</h1>
		<p class="headline__text">
			AlterEGO - Ваш зовнішній відділ розробки. Створення та підтримка сайтів,
			<br> впровадження CRM систем,налаштування внутрішніх порталів та інші послуги для
			<br> малого та великого бізнесу.
		</p>
	</div>
	<div class="services__medium-cards medium-cards">
		<div class="title-box">
			<div class="medium-cards__img circle">
				<img src="./imgs/small-medium-bs.svg" alt="Small and medium business icon">
			</div>
			<h1 class="title-box__title">Малому та середньому бізнесу</h1>
		</div>
		<div class="medium-cards__box">
			<include src="components/card.html">
				{
				"title": "Розробка сайтів",
				"service": [
				"Landing page",
				"Сайт-візитка",
				"Корпоративний сайт",
				"Інтернет-магазин",
				"Сайт на готовому рішенні"]
				}
			</include>
			<include src="components/card.html">
				{
				"title": "Підтримка",
				"service": [
				"Сайти",
				"CRM",
				"Внутрішні портали"]
				}
			</include>
			<include src="components/card.html">
				{
				"title": "Впровадження CRM",
				"service": [
				"Пакети впроваджень",
				"Pipedrive",
				"Zoho",
				"Odoo",
				"Tuqqi"]
				}
			</include>
			<include src="components/card.html">
				{
				"title": "Діджитал трансформація",
				"service": [
				"Автоматизація бізнесу",
				"Внутрішні портали",
				"Інтеграції внутрішніх систем"]
				}
			</include>
		</div>
	</div>
	<div class="services__large-cards large-cards">
		<div class="large-cards__concat-title-box">
			<div class="title-box">
				<div class="startup__img circle">
					<img src="./imgs/startup.svg" alt="start up icon">
				</div>
				<h1 class="title-box__title">Стартапам</h1>
			</div>
			<div class="title-box">
				<div class="business__img circle">
					<img src="./imgs/business.svg" alt="start up icon">
				</div>
				<h1 class="title-box__title">Великому бізнесу</h1>
			</div>
		</div>
		<div class="large-cards__box">
			<include src="components/card.html">
				{
				"title": "Веб-розробка",
				"service": [
				"Розробка нових продуктів",
				"Розвиток існуючих продуктів",
				"UX/UI Дизайн"]
				}
			</include>
			<include src="components/card.html">
				{
				"title": "Веб-розробка",
				"service": [
				"Розробка нових продуктів",
				"Інтеграція по API/Webhooks",
				"Підвіщення швидкості сайтів",
				"UX/UI Дизайн"]
				}
			</include>
		</div>
	</div>
	<div class="services__info">
		<p class="info__text">Отримайте безкоштовну оцінку для Вашого проекту</p>
		<button id="discuss-services" class="write-to-us info__btn btn">Отримати зараз</button>
	</div>
</div>
