<div class="slider-box">
	<div class="slider-box__headline">
		<h1 class="slider-box__title">Кейси</h1>
		<span class="slider-box__btn">
			<i id="slide-number" class="slider-box__counter">1/3</i>
			<img id="slide-next-arrow" class="slider-box__arrow" src="./imgs/scroll-arrow.svg" alt="next slide button">
		</span>
	</div>
	<div class="case-cards owl-carousel owl-theme">
		<include src="components/slide-block.html">
			{
			"title": "Glovo — International products delivery service",
			"img": "./imgs/glovo-img.png",
			"logo": "./imgs/glovo-logo.svg",
			"badges": [
			"App devepolment",
			"UI/UX",
			"Web design",
			"Finances",
			"Menu management system"
			]
			}
		</include>
		<include src="components/slide-block.html">
			{
			"title": "TIYO — Fashion data tools & digital services",
			"img": "./imgs/tiyo-img.png",
			"logo": "./imgs/tiyo-logo.svg",
			"badges": [
			"App devepolment",
			"UI/UX",
			"Web design",
			"Retail app"
			]
			}
		</include>
		<include src="components/slide-block.html">
			{
			"title": "Артвайнері — найбільший у Східній Європі виробник ігристих вин",
			"img": "./imgs/artwinery-img.png",
			"logo": "./imgs/artwinery-logo.svg",
			"badges": [
			"Впровадження",
			"CRM",
			"Інтеграції з WEB, R-KEEPER, ipos"
			]
			}
		</include>
	</div>
	<div id="dots" class="slider-box__dots">
	</div>

</div>