$colorPrimary: #1F1926;
$colorSecondary: #E7E7EC;
$colorRed: #EF8043;
$colorBg: linear-gradient(63.15deg, #1E1627 12.38%, #24223D 87.48%);
$colorBgRed: linear-gradient(139.9deg, #D61544 2.48%, #F07E3D 100%);
$colorBglight: #FBFBFF;
$colorWhite: #FFFFFF;
