
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,500,700);

$colorPrimary: red;

$mobileBreakPoint: 768px;

.root {
	background: $colorPrimary;
	display: block;
}


@media screen and (max-width: $mobileBreakPoint) {

}
