@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import './theme';

$mobileBreakPoint: 768px;

body {
	font-family: 'Manrope';
	padding: 0;
	margin: 0;
	height: 100%;
	overflow-x: hidden;

}

html {
	margin-right: calc(-1 * (100vw - 100%));
}

ul, li, a {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
	padding: 0;
}

.wrapper {
	box-sizing: border-box;
	width: 1440px;
	max-width: 100%;
	padding: 0 40px;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-section {
	background: no-repeat url('../imgs/bg.svg') center/cover;
	display: flex;
	flex-direction: column;
	letter-spacing: 0.04em;
}

.services-section {
	background: $colorBglight;
}

.projects-section {
	background: $colorBg;
	.wrapper {
		padding: 0;
		max-width: none;
		width: 100%;
	}
}

.slider-section {
	background: $colorBglight;
}

.footer-section {
	background: $colorBg;
}

.circle {
	width: 70px;
	height: 70px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 8px 24px 0px #86536514;
}

.question {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	padding: 30px 15px;
	gap: 20px;
	background: linear-gradient(139.9deg, #D61544 2.48%, 	#F07E3D 100%);
	box-shadow: 0px 6px 16px rgba(193, 36, 75, 0.2);
	border-radius: 30px;
	position: fixed;
	bottom: 150px;
	right: 25px;
	z-index: 1;
	cursor: pointer;
	border: none;
}

.title-box {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 30px;
	&__title {
		font-weight: 800;
		font-size: 30px;
		line-height: 41px;
		letter-spacing: 0.04em;
	}
}

.btn {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 16px 24px;
	gap: 10px;
	background: $colorBgRed;
	box-shadow: 0px 6px 16px #c1244b33;
	border-radius: 30px 0px;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color:$colorWhite;
	cursor: pointer;
	border: none;
	outline: none;
}

.input {
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #1f192633;
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.04em;
	color: #493F58;
	width: 100%;
	padding: 15px 0px 10px 20px;
	outline: none;
}


@media screen and (max-width: $mobileBreakPoint) {

}

@import "./components/header.scss";
@import "./components/info.scss";
@import "./components/card.scss";
@import "./components/services.scss";
@import "./components/projects.scss";
@import "./components/date-card.scss";
@import "./components/project-card.scss";
@import "./components/slider-section.scss";
@import "./components/slide-block.scss";
@import "./components/footer.scss";
@import "./components/modal.scss";
@import "./components/form.scss";
